<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bjz.wystudytestlib">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".imgOperation.ui.BitmapOperationActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/LunencyTheme"/>
        <activity android:name=".thread.synchronizedTest.SynchronizedTestActivity" />

        <service android:name=".acrossProcesses.service.AcrossProcessesTestService" />
    </application>

</manifest>